<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" mode="side" opened>
    <div class="logo-wrapper">
      <h3>Farm Stock</h3>
    </div>

    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="main-header">
      <div class="header-left">
        <button mat-icon-button (click)="drawer.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="header-right">
        <button mat-button [matMenuTriggerFor]="userMenu" class="user-profile">
          <img width="40" height="40" src="/images/avatar.png" alt="User">
          <div class="user-info">
            <span class="role">Admin</span>
          </div>
        </button>
        <mat-menu #userMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>person</mat-icon>
            <span>Profile</span>
          </button>
          <button mat-menu-item>
            <mat-icon>settings</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <main class="main-content">
      <ng-content></ng-content>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
