<div class="menu-section">
  <mat-nav-list>
    <a mat-list-item routerLink="/farms" routerLinkActive="active">
      <mat-icon>agriculture</mat-icon>
      <span>Fazendas</span>
    </a>
    <!-- <a mat-list-item routerLink="/fields" routerLinkActive="active">
      <mat-icon>grass</mat-icon>
      <span>Talhões</span>
    </a>
    <a mat-list-item routerLink="/crops" routerLinkActive="active">
      <mat-icon>eco</mat-icon>
      <span>Cultivos</span>
    </a>
    <a mat-list-item routerLink="/activities" routerLinkActive="active">
      <mat-icon>assignment</mat-icon>
      <span>Atividades</span>
    </a> -->
    <a mat-list-item routerLink="/stocks" routerLinkActive="active">
      <mat-icon>pallet</mat-icon>
      <span>Estoques</span>
    </a>
    <a mat-list-item routerLink="/stock-items" routerLinkActive="active">
      <mat-icon>shelves</mat-icon>
      <span>Elementos</span>
    </a>
    <a mat-list-item routerLink="/stock-movements" routerLinkActive="active">
      <mat-icon>widgets</mat-icon>
      <span>Movimentação de Estoque</span>
    </a>
  </mat-nav-list>
</div>
